* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: #ffeba7;
  background-color: #1f2029;
}
.inactive {
  display: none;
}
.active {
  display: flex;
}
.notificacion {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  right: 0px;
}
.btnNotificacion {
  height: 40px;
  width: 150px;
  font-size: 1.4rem;
  margin: 20px;
  border: none;
  border-radius: 5px;
  font-family: "Rubik Puddles", cursive;
  font-weight: 700;
  text-align: center;
}
.notDisplay {
  display: flex;
  width: 100%;
  justify-content: center;
}
.notificationSecondary {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgb(198, 132, 159);
  width: 80%;
  max-width: 500px;
  justify-content: space-evenly;
}
/**/
.ganadores {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: rgba(255, 255, 255, 0.408);
}
.ganadores a {
  margin: 0 15px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 2rem;
  padding: 10px;
  font-weight: 700;
}
/**/
.sorteo-dos {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sorteo-dos-container {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  box-shadow: 0px 0px 10px 4px rgb(181 94 94 / 75%);
  border-radius: 5px;
}
.sorteo-dos-container h2 {
  font-size: 3rem;
  text-align: center;
  padding-top: 15px;
}
.sorteo-dos-container li {
  width: 210px;
  height: 50px;
  font-weight: 700;
  list-style: none;
  font-size: 2rem;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  background: rgb(222, 139, 153);
  justify-content: center;
  align-items: center;
}
.sorteo-dos-container input {
  height: 60px;
  width: 200px;
  font-size: 2rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-family: "Rubik Puddles", cursive;
  font-weight: 700;
  text-align: center;
}
.sorteo-dos-container input:hover {
  box-shadow: 0px 0px 11px 4px rgba(186, 71, 71, 0.75);
}
.winners {
  width: 60vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  box-shadow: 0px 0px 10px 4px rgb(181 94 94 / 75%);
  border-radius: 5px;
}
.winnersSecondary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text {
  font-size: 3rem;
  text-align: center;
  padding-top: 15px;
  width: 60%;
}

/**/
.textNumber {
  border: 2px solid rgb(191, 63, 129);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: rgb(191, 63, 129);
  color: white;
}
.contadorWinners {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.contadorPrincipal {
  position: absolute;
  top: 50%;
  width: 100%;
  height: auto;
  right: 0px;
}
.contadorPrincipal section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: rgb(198, 132, 159);
  width: 80%;
  max-width: 500px;
  justify-content: space-evenly;
}
